
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>My Real Estate - Start Bootstrap Template</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/heroic-features.css" rel="stylesheet" />
</head>
<body>
    <!-- Navigation -->
    @Html.Partial("_MainMenu")
    <!-- Page Content -->
    <div class="container">
        @RenderSection("BigBanner", required: false)
        @RenderBody()
    </div>
    <!-- /.container -->
    <!-- Footer -->
    @Html.Partial("_Footer")
    <!-- Bootstrap core JavaScript -->
    <script src="~/Scripts/jquery-3.2.1.slim.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
